<a href="https://colab.research.google.com/github/SSHREYA71/css-art-gallery/blob/main/Hamoye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 2. Import Dataset

In [ ]:
url ="https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
df = pd.read_csv(url,error_bad_lines = False)

In [ ]:
df.head(3)
print(df.shape)

(29523, 11)

In [ ]:
df.corr()

                              utility_id_ferc1  report_year  fuel_qty_burned  fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000     0.093323        -0.057447            -0.066946                  -0.037863                     -0.016414             0.006122
report_year                           0.093323     1.000000         0.012952            -0.110853                   0.013599                     -0.014043             0.010261
fuel_qty_burned                      -0.057447     0.012952         1.000000            -0.080946                  -0.018535                     -0.003551            -0.001896
fuel_mmbtu_per_unit                  -0.066946    -0.110853        -0.080946             1.000000                  -0.010034                     -0.009039            -0.005884
fuel_cost_per_unit_burned            -0.037863     0.013599        -0.018535            -0.010034                   1.000000                      0.011007            -0.000437
fuel_cost_per_unit_delivered         -0.016414    -0.014043        -0.003551            -0.009039                   0.011007                      1.000000            -0.000109
fuel_cost_per_mmbtu                   0.006122     0.010261        -0.001896            -0.005884                  -0.000437                     -0.000109             1.000000

In [ ]:
df.describe()

       utility_id_ferc1   report_year  fuel_qty_burned  fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
count      29523.000000  29523.000000     2.952300e+04         29523.000000               29523.000000                  2.952300e+04         29523.000000
mean         118.601836   2005.806050     2.622119e+06             8.492111                 208.649031                  9.175704e+02            19.304354
std           74.178353      7.025483     9.118004e+06            10.600220                2854.490090                  6.877593e+04          2091.540939
min            1.000000   1994.000000     1.000000e+00             0.000001                -276.080000                 -8.749370e+02           -41.501000
25%           55.000000   2000.000000     1.381700e+04             1.024000                   5.207000                  3.778500e+00             1.940000
50%          122.000000   2006.000000     2.533220e+05             5.762694                  26.000000                  1.737100e+01             4.127000
75%          176.000000   2012.000000     1.424034e+06            17.006000                  47.113000                  4.213700e+01             7.745000
max          514.000000   2018.000000     5.558942e+08           341.260000              139358.000000                  7.964521e+06        359278.000000

In [ ]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [ ]:
df.nunique()

record_id                       29523
utility_id_ferc1                  185
report_year                        25
plant_name_ferc1                 2315
fuel_type_code_pudl                 6
fuel_unit                           9
fuel_qty_burned                 26432
fuel_mmbtu_per_unit             11227
fuel_cost_per_unit_burned       19416
fuel_cost_per_unit_delivered    16675
fuel_cost_per_mmbtu             12605
dtype: int64

In [ ]:
df.dropna().head(3)

                record_id  utility_id_ferc1  report_year      plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7                 1         1994              rockport                coal       ton        5377489.0               16.590                      18.59                         18.53                1.121
1  f1_fuel_1994_12_1_0_10                 1         1994  rockport total plant                coal       ton       10486945.0               16.592                      18.58                         18.53                1.120
2   f1_fuel_1994_12_2_0_1                 2         1994                gorgas                coal       ton        2978683.0               24.130                      39.72                         38.12                1.650

In [ ]:
df.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [ ]:
df.kurt()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [ ]:
#fig = plt.figure(figsize =(10, 7))	
#plt.bar(df["fuel_cost_per_unit_burned"].mean(),df['fuel_type_code_pudl'])

In [ ]:
#fig = plt.figure(figsize =(10, 7))
#plt.bar(df['report_year'],df["fuel_cost_per_unit_delivered"].mean())

In [ ]:
df["fuel_cost_per_unit_delivered"].groupby(by=df['report_year']).mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [ ]:
pd.set_option('display.max_rows', 500)
df["fuel_cost_per_unit_burned"].groupby(by=df['fuel_type_code_pudl']).mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
pd.set_option("display.max_rows", 500)
df["fuel_cost_per_unit_burned"].groupby(by=[df['report_year'],df['fuel_type_code_pudl']] ).sum()

report_year  fuel_type_code_pudl
1994         coal                    14984.572
             gas                     10792.496
             nuclear                227983.354
             oil                      9362.194
             other                     116.737
             waste                      52.762
1995         coal                    14571.785
             gas                      9087.905
             nuclear                384152.639
             oil                     17858.281
             other                     183.577
             waste                    -192.699
1996         coal                    12694.803
             gas                      1467.390
             nuclear                 66657.887
             oil                      5357.028
             other                     160.075
             waste                      88.092
1997         coal                    43742.178
             gas                      1518.471
             nuclear                112593.911
             oil                      5387.536
             other                     153.923
             waste                     137.433
1998         coal                    11902.597
             gas                      7475.596
             nuclear                117788.269
             oil                      2608.657
             other                     225.428
             waste                     238.109
1999         coal                    16303.468
             gas                     16767.895
             nuclear                 62915.808
             oil                     29654.510
             other                     271.579
             waste                     143.025
2000         coal                   100428.831
             gas                     10024.878
             nuclear                112375.382
             oil                    104055.470
             other                     100.014
             waste                    -489.141
2001         coal                    15109.012
             gas                     10360.348
             nuclear                 59292.078
             oil                     95315.421
             other                      71.283
             waste                     217.499
2002         coal                     9171.164
             gas                      3584.279
             nuclear                 59958.884
             oil                     48956.627
             other                      -4.257
             waste                     254.438
2003         coal                    30954.110
             gas                      7170.143
             nuclear                 59591.536
             oil                     51349.250
             other                     -51.286
             waste                     161.973
2004         coal                     9632.063
             gas                      5019.023
             nuclear                 61870.002
             oil                    107669.303
             other                     174.796
             waste                     272.512
2005         coal                    11107.182
             gas                      3833.652
             nuclear                 94192.368
             oil                     26401.284
             other                      76.196
             waste                     313.457
2006         coal                    12402.684
             gas                      3598.417
             nuclear                141240.473
             oil                     30285.707
             other                     190.904
             waste                     423.847
2007         coal                    12965.171
             gas                      3867.366
             nuclear                154945.333
             oil                     83766.316
             other                     143.112
             waste                     427.014
2008         coal                    14331.348
             gas                     16087.669
             nuclear                226552.820
             oil                     56654.223
             other                     211.940
             waste                     474.022
2009         coal                    45554.858
             gas                     11193.089
             nuclear                172823.881
             oil                     33068.327
             other                     204.527
             waste                     739.884
2010         coal                    88627.745
             gas                      4240.494
             nuclear                202133.032
             oil                     35503.392
             other                     321.647
             waste                     755.157
2011         coal                    17001.015
             gas                      3264.968
             nuclear                229824.926
             oil                    123477.065
             other                      89.717
             waste                     517.912
2012         coal                    17546.097
             gas                      3420.876
             nuclear                240648.791
             oil                     59263.866
             other                     224.123
             waste                     589.791
2013         coal                    17629.860
             gas                      2982.281
             nuclear                243192.226
             oil                     42336.964
             other                     182.494
             waste                     609.411
2014         coal                    15412.197
             gas                      4169.285
             nuclear                229158.129
             oil                    268670.603
             other                       0.661
             waste                     591.594
2015         coal                    13338.235
             gas                      6224.304
             nuclear                208830.486
             oil                     31038.094
             other                       0.595
             waste                     629.270
2016         coal                    11100.925
             gas                      1994.266
             nuclear                213837.559
             oil                     28012.376
             other                       0.609
             waste                     539.079
2017         coal                    10254.284
             gas                      4424.244
             nuclear                197491.493
             oil                     31935.723
             waste                     452.079
2018         coal                     9488.197
             gas                      4322.494
             nuclear                173267.161
             oil                     33836.602
             waste                     660.972
Name: fuel_cost_per_unit_burned, dtype: float64